@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var New_Articles = CurrentPage.Descendants(5).OrderBy("CreateDate desc").Take(1); //New Article

}

<div class="HomepageIntro">
    <div class="row">
        <div class="small-12 medium-12 large-5 columns end">
            <div class="CategoryIntro">
                <h1>We Write <span>Awesome </span>Articles About DotA2</h1>
            </div>

            <div class="CategoryIntroDescription">
                <p>
                    We believe every gamer can improve at DotA2 by providing a rich environment to learn from. Our experts provide their experience and insight to help you better your game. 
                </p>

                <a href="#">
                    <img src="~/Media/button.png" />
                </a>
            </div>


        </div>


        <div class="small-12 medium-12 large-7 columns">




            @foreach (var New_Article in New_Articles)
            {
                <article class="NewArticle">
                    <a href="@New_Article.Url">
                        <img src="@New_Article.test @New_Article.CourseImageBanner">
                    </a>

                    @*<div class="NewArticleContenBANNER">
                            <h3>December 07, 2014</h3>
                            <h1>@New_Article.Name</h1>
                            <p class="show-for-medium-up show-for-landscape">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis urna non ex iaculis iaculis.  Morbi quis urna non ex iaculis.ssss</p>
                        </div>*@
                </article>
            }


            @*@{
                    foreach (var New_Article in New_Articles)
                    {
                        <article class="NewArticle">
                            <a href="@New_Article.Url">
                                <img src="@New_Article.test @New_Article.CourseImageBanner">
                            </a>
                            <h1>@New_Article.Name</h1>
                            <p class="show-for-medium-up show-for-landscape">
                                Browser games are, in the vast majority, developed using
                                Flash technology, however more and more often we come
                                across
                            </p>
                        </article>
                    }
                }*@
        </div>


    </div>
</div>



<section class="ArticleDisplay">
    <!--Body Articles-->
    <div class="row">


        <div class="large-9 large-push-3 end columns">

            <div class="RecentArticles">
                <p>Browsing <span>@CurrentPage.Name</span></p>
                <h1>Recent Articles</h1>
            </div>

            <!--Shows 9 Articles-->
            @Umbraco.RenderMacro("RazorListing")
        </div>

        @Umbraco.RenderMacro("Menu")

    </div>
</section>